<component name="ArtifactManager">
  <artifact type="war" name="SpringUnitBeanTest:war">
    <output-path>$PROJECT_DIR$/../SpringUnitBeanTest/target</output-path>
    <root id="archive" name="unitbean_test-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringUnitBeanTest:war exploded" />
    </root>
  </artifact>
</component>